<!DOCTYPE html>
<html ng-app="quickDecision">
<head>
  <title>QuickDecision</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "/bootstrap/bootstrap.min", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "/bootstrap/bootstrap", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "/bootstrap/bootstrap", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "/bootstrap/bootstrap.min", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div ng-view>
  <%= yield %>
</div>

</body>
</html>
